<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div>
        <button type="button" onclick="window.location.href = '{{ url_for('index') }}';">
            &#8962
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('produse') }}';">
            Produse
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('categorii') }}';">
            Categorii
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('comenzi') }}';">
            Comenzi
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('furnizori') }}';">
            Furnizori
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('insert') }}';">
            Insert
        </button>
        <button type="button"  onclick="window.location.href = '{{ url_for('update') }}';">
            Update
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('delete') }}';">
            Delete
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('logout') }}';">
            Logout
        </button>
    </div>
    <h1>{{ name }}</h1>
    <table>
        <thead>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th>{{ row[1] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <div>
        <button type="button" onclick="window.location.href = '{{ url_for('topCategoriiIntalnite') }}';">
            Cele mai intalnite categorii 
        </button>
        <button type="button" onclick="window.location.href = '{{ url_for('topCategoriiFurnizate') }}';">
            Cele mai furnizate categorii 
        </button>
    </div>
</body>