<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" />
    </head>

    <body>
        <div>
            <button type="button" onclick="window.location.href = '{{ url_for('index') }}';">
                &#8962
            </button>
            <br>
            <h1>Categorie</h1><br>
            <form method="POST">
                <label for="Name">ID-ul inregistrarii ce va fi stearsa:</label>
                <input type="text" name="ID"><br><br>
                <br><br>
                <input type="submit" onclick="window.location.href = '{{ url_for('submitDeleteCategorie') }}';">
            </form>
            <br>
        </div>
    </body>
</html>