<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" />
    </head>

    <body>
        <div>
            <button type="button" onclick="window.location.href = '{{ url_for('index') }}';">
                &#8962
            </button>
            <br>
            <h1>Produse</h1><br>
            <form method="POST">
                <label for="Name">ID-ul inregistrarii ce va fi modificata:</label>
                <input type="text" name="InregistrareModificata"><br><br>
                <label for="Name">Selectarea campului ce va fi modificat:</label>
                <select name="Produse" id="produse">
                    <option value="IDprodus">IDprodus</option>
                    <option value="Denumire">Denumire</option>
                    <option value="IDcategorie">IDcategorie</option>
                    <option value="Cantitate">Cantitate</option>
                    <option value="PretBucata">PretBucata</option>
                </select><br><br>
                <label for="Name">Noua valoare a campului selectat:</label>
                <input type="text" name="ValoareNoua"><br><br>
                <br><br>
                <input type="submit" onclick="window.location.href = '{{ url_for('submitUpdateProduse') }}';">
            </form>
            <br>
        </div>
    </body>
</html>